<aside class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">Sesión</li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="openSessionModal()">
          <i class="nav-icon fas fa-address-book mr-1"></i> Sesión de Votación
          <span class="badge badge-danger"><span class="fas fa-thumbs-down"></span></span>
          <!--Aqui puedo hacer que si no se ha creado la sesión, cambie un color u otro-->
        </a>
      </li>
      <li class="nav-title">Usuarios</li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="openFileUploadModal()">
        <i class="nav-icon fas fa-pencil-alt"></i> Estudiantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="openTeacherModal()">
          <i class="nav-icon fa fa-briefcase"></i> Profesores</a>
      </li>
      <li class="nav-title">Aspirantes y Jurado</li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="#">
          <i class="fas fa-user-tie"></i> Aspirantes
        </a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="nav-icon fas fa-pencil-alt"></i> Estudiante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="nav-icon fas fa-briefcase"></i> Profesor</a>
          </li>
      </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="nav-icon fas fa-eye"></i> Jurado</a>
      </li>
      <li class="nav-title">Extras</li>
      <li class="nav-item">
        <a href="#" class="nav-link"><i class="nav-icon fas fa-user-cog"></i> Tipos de aspirante</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><i class="nav-icon fas fa-key"></i> Generar contraseñas</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><i class=" nav-icon fas fa-address-card"></i> Vistazo tarjetones</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><i class=" nav-icon fas fa-lock"></i> Cerrar Sesión</a>
      </li>
      <li class="divider"></li>
    </ul>
  </nav>
</aside>
