<div class="card-header text-capitalize"> {{ title }} </div>
<div class="card-body">
  <div class="container">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="studentsLength"
      [maxSize]="4" [rotate]="true" [ellipses]="false"
      [boundaryLinks]="true"></ngb-pagination>
  </div>

  <div class="container">
    <div class="wrap">

      <div class="box no-select" [ngStyle]="{'background': 'url(assets/images/norsup-3.jpg) no-repeat',
                                    'background-size': 'cover', 'background-position': 'center'}">
        <div class="grade">
          <h4>Nuevo Aspirante</h4>
        </div>
        <h1> Agregar Aspirante </h1>
        <div class="poster p1" (click)="onNewAspirantClick()" [ngbTooltip]="addBtn">
          <h4>+</h4>
        </div>
      </div>
      <div *ngFor="let student of student$ | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <div class="box no-select" [ngStyle]="{'background': 'url(assets/images/' + student.avatar + ') no-repeat',
                                    'background-size': 'cover', 'background-position': 'center'}">
          <button type="button" class="close close-btn" aria-label="Close" [ngbTooltip]="deleteBtn" (click)="onDeleteClick(student)">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="grade">
            <h4> Grado: {{ student.grade + student.group }} </h4>
          </div>
          <h1> {{ student.displayNames }} </h1>
          <div class="poster p2" [ngbTooltip]="showBtn">
            <a class="text-decoration-none" [routerLink]="['/admin/aspirant/student', student.docId]">
              <h4> {{ student.initialLastName }} </h4>
            </a>
          </div>
      </div>
      </div>

    </div>
  </div>
</div>

<ng-template #addBtn>Agregar</ng-template>
<ng-template #showBtn>Mostrar</ng-template>
<ng-template #deleteBtn>Eliminar</ng-template>
